<template>
<div class="container">
  <div class="header">
    <span class="header-item">
      Current Turn: <span class="turn" :class="currentTurn">{{ capitalise(currentTurn) }}</span>
    </span>
    <span
      class="header-item turn"
      :class="{ 'white': whiteChecked, 'black': blackChecked }"
      v-if="whiteChecked || blackChecked">
      <span v-if="whiteChecked">White</span>
      <span v-if="blackChecked">Black</span>
      Checked
    </span>
    <span class="header-item clickable" @click="resetBoard">
      Restart
    </span>
  </div>
  <div class="board-container">
    <div v-for="(row, ri) in rows" :key="ri" class="row">
      <div
        v-for="(col, ci) in cols"
        :key="ci" class="square"
        :class="{ 'dark': isDarkSquare(ri, ci), 'possible-move': isPossibleMove(ri, ci), 'has-piece': !!findPiece(ri, ci) }"
        @click="squareClicked(ri, ci)">
        <piece
          v-if="!!findPiece(ri, ci) && findPiece(ri, ci).alive"
          :piece="findPiece(ri, ci)"
          :game-state="gameState"
          :current-turn="currentTurn"
          @select-piece="selectPiece($event)"/>
      </div>
    </div>
  </div>
  <piece-select @select-piece="setPawn" />
  <game-over :kings="kings" @restart="resetBoard" />
</div>
</template>

<script>
import { generateInitialBoard } from '../initialState';
import { capitalise } from '../utils';
import { kingChecked } from '../moves';
import GameOver from './GameOver.vue';
import Piece from './Piece.vue';
import PieceSelect from './PieceSelect.vue';

export default {
  name: 'Board',
  components: {
    GameOver,
    Piece,
    PieceSelect,
  },
  data() {
    return {
      cols: [ 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H' ],
      rows: [ 1, 2, 3, 4, 5, 6, 7, 8 ],
      gameState: generateInitialBoard(),
      selectedPiece: {},
      pawnToSelect: {},
      possibleMoves: [],
      currentTurn: 'white',
    }
  },
  computed: {
    kings() {
      const kingAlive = col => this.gameState.find(piece => piece.type === 'king' && piece.colour === col).alive;
      return {
        black: kingAlive('black'),
        white: kingAlive('white'),
      }
    },
    whiteChecked() {
      return kingChecked('white', this.gameState);
    },
    blackChecked() {
      return kingChecked('black', this.gameState);
    },
  },
  methods: {
    capitalise,
    isDarkSquare(ri, ci) {
      if (ri % 2 === 0 && ci % 2 !== 0) return true;
      if (ri % 2 !== 0 && ci % 2 === 0) return true;
      return false;
    },
    findPiece(ri, ci, all=false) {
      return this.gameState.filter(piece => piece.alive || all).find(piece => piece.x === ci && piece.y === ri);
    },
    selectPiece(evt) {
      if (this.isPossibleMove(evt.selectedPiece.y, evt.selectedPiece.x)) {
        this.takePiece(evt.selectedPiece.y, evt.selectedPiece.x);
      } else if (evt.selectedPiece.colour === this.currentTurn) {
        this.possibleMoves = evt.possibleMoves;
        this.selectedPiece = evt.selectedPiece;
      }
    },
    isPossibleMove(ri, ci) {
      return this.possibleMoves.reduce((acc, move) => (move[0] === ci && move[1] === ri) || acc, false);
    },
    takePiece(y, x) {
      this.gameState.find(piece => piece.x === x && piece.y === y).alive = false;
      this.squareClicked(y, x);
    },
    squareClicked(ri, ci) {
      if (!this.isPossibleMove(ri, ci)) return;

      this.selectedPiece.x = ci;
      this.selectedPiece.y = ri;

      if ('hasMoved' in this.selectedPiece) {
        this.selectedPiece.hasMoved = true;
      }

      if (this.selectedPiece.type === 'pawn') this.pawnMoved();

      this.selectedPiece = {};
      this.possibleMoves = [];
      this.currentTurn = this.currentTurn === 'white' ? 'black' : 'white';
    },
    pawnMoved() {
      if (this.selectedPiece.currentPiece !== 'pawn') return;

      if (this.selectedPiece.y !== (this.selectedPiece.colour === 'white' ? 0 : 7)) return;

      this.pawnToSelect = this.selectedPiece;
      document.getElementById('select-piece-modal').style.display = 'block';
    },
    setPawn(evt) {
      this.pawnToSelect.currentPiece = evt;
      document.getElementById('select-piece-modal').style.display = 'none';
    },
    resetBoard() {
      this.selectedPiece = {};
      this.pawnToSelect = {};
      this.possibleMoves = [];
      this.gameState = generateInitialBoard();
      this.currentTurn = 'white';
      document.getElementById('game-over-modal').style.display = 'none';
    }
  },
  watch: {
    kings: {
      deep: true,
      handler(newVal) {
        if (!newVal.black || !newVal.white) {
          document.getElementById('game-over-modal').style.display = 'block';
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100vw;
  background-color: #003c77;
  color: #fafafa;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .header-item {
    margin: 10px 30px;
    user-select: none;
    &.clickable {
      cursor: pointer;
      border: #1b191b 1px solid;
      padding: 4px 10px;
      border-radius: 0.3rem;
      background-color: lighten(#003c77, 10%);
      &:hover {
        background-color: lighten(#003c77, 7%);
      }
    }
  }
  .turn {
    padding: 4px 8px;
    font-weight: bold;
    border: #1b191b 1px solid;
    border-radius: 0.3rem;
    &.white {
      background-color: #fafafa;
      color: #2c3e50;
    }
    &.black {
      background-color: #2c3e50;
      color: #fafafa;
    }
  }
}

.board-container {
  width: 75vh;
  height: 75vh;
  padding: 5vh;
  background-image: url('../assets/wood.jpg');
  .row {
    display: flex;
    height: calc(75vh / 8);
    border-color: #343134;
    border-left: 1px solid;
    border-right: 1px solid;
    &:first-of-type {
      border-top: 1px solid;
    }
    &:last-of-type {
      border-bottom: 1px solid;
    }
    .square {
      width: calc(75vh / 8);
      background-color: #fafafa;
      box-sizing: border-box;
      &.dark {
        background-color: #2c3e50;
        color: #fafafa;
      }
      &.possible-move {
        border: 0.3rem dashed #d35500;
        cursor: pointer;
        &:hover {
          border-color: lighten(#d35500, 20%);
        }
        &.has-piece:hover {
          border-color: #4f67dc;
        }
      }
    }
  }
}
</style>
