<template>
<div id="game-over-modal" class="modal">
  <div class="modal-content">
    <h2>{{ winner }} Wins!</h2>
    <div class="restart-btn" @click="$emit('restart')">
      Restart
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'GameOver',
  props: {
    kings: {
      type: Object,
      required: true
    }
  },
  computed: {
    winner() {
      return this.kings.white ? 'White' : 'Black';
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30% !important;
  .restart-btn {
    padding: 8px 12px;
    margin: 20px;
    cursor: pointer;
    background-color: #28a745;
    width: fit-content;
    border-radius: 0.3rem;
    &:hover {
      background-color: darken(#28a745, 4%);
    }
  }
}
</style>