<template>
  <div id="select-piece-modal" class="modal">
    <div class="modal-content">
      <p>Select piece to transform pawn into.</p>
      <div class="piece-select-board">
        <div
          class="img-container"
          v-for="(type, index) in ['queen', 'bishop', 'knight', 'rook']"
          :key="index"
          @click="$emit('select-piece', type)">
          <img :src="require(`../assets/${colour}-${type}.svg`)" :title="pieceName(type)"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { capitalise } from '../utils';

export default {
  name: 'PieceSelect',
  props: {
    colour: {
      type: String,
      default: 'white',
    }
  },
  methods: {
    pieceName(type) {
      return `${capitalise(this.colour)} ${capitalise(type)}`;
    },
    close() {
      document.getElementById('select-piece-modal').style.display = 'none';
    },
  },
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.piece-select-board {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  .img-container {
    padding: 20px;
    border: 1px solid #1b191b;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #484448;
    }
  }
}
</style>