<template>
  <div class="piece-container" :class="{ 'no-select': currentTurn !== piece.colour }" @click.stop="selectPiece">
    <div class="img-container">
      <img :src="require(`../assets/${piece.colour}-${piece.type}.svg`)" :title="pieceName"/>
    </div>
  </div>
</template>

<script>
import { findMoves } from '../moves';
import { capitalise } from '../utils';

export default {
  name: 'Piece',
  props: {
    piece: {
      type: Object,
      required: true
    },
    gameState: {
      type: Array,
      required: true
    },
    currentTurn: {
      type: String,
      required: true
    }
  },
  computed: {
    pieceName() {
      return `${capitalise(this.piece.colour)} ${capitalise(this.piece.type)}`;
    },
  },
  methods: {
    selectPiece() {
      this.$emit('select-piece', { selectedPiece: this.piece, possibleMoves: findMoves(this.piece, this.gameState) });
    },
  }
}
</script>

<style lang="scss" scoped>
.piece-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .img-container {
    height: fit-content;
    img {
      object-fit: cover;
      padding: 5%;
      border-radius: 50%;
      border: transparent solid 2px;
      user-select: none;
    }
  }
  &:not(.no-select) {
    cursor: pointer;
    &:hover {
      .img-container img {
        border-color: lighten(black, 10%);
      }
    }
  }
}
</style>

<style lange="scss">
.possible-move .piece-container .img-container img {
  border-color: transparent !important;
}
</style>