<template>
  <div id="app">
    <board />
  </div>
</template>

<script>
import Board from './components/Board.vue'

export default {
  name: 'App',
  components: {
    Board,
  }
}
</script>

<style lang="scss">
html {
  background-color: #343134;
  body {
    margin: 0;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.8);
      .modal-content {
        background-color: #343134;
        color: #fafafa;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #1b191b;
        width: 80%;
        border-radius: 0.5rem;
      }
    }
  }
}
</style>
